<!-- <app-header></app-header> -->



  <div>
    <mat-toolbar color="primary" role="heading">
      <div class="slogan">
        <p>CHEAP TRIP. PAY LESS, VISIT MORE!</p>
      </div>
      <span class="spacer"></span>
      <!-- <button mat-button (click)="toHomePage()"></button> -->
      <button  mat-icon-button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="button with a menu">
         <mat-icon>menu</mat-icon> 
        <!-- <span class="material-icons"></span> -->
        
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="''">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="'/links'">
          <mat-icon>link icon</mat-icon>
          <span>Useful links</span>
        </button>
        <button mat-menu-item [routerLink]="'/contacts'">
          <mat-icon>contacts icon</mat-icon>
          <span>Contacts</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
  
<router-outlet></router-outlet>
